{% extends 'piyaray_main.html' %} 

{% block title %}
 Humaray Piyaray - Change Password
List {% endblock %} 

{% block content %}

<div class="main-area">
    <div class="box">
        <div class="loginBox">
            <div><h1>Change Password</h1></div>
            <form  method="POST" action="{% url 'password_change' %}">
                {% csrf_token %}
                <div class="tabularList4">
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {% endfor %}
                {% for field in form %}
            
                    <p style="grid-column: 1/4;">{{field.label}}</p>
                    {{field}}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{field.errors}}
                        </div>
                    {% endif %}
                {% endfor %}
                <input id="reset" class="btn-f" type="reset" name="reset" value="Reset"></input>
                <input id="submit" class="btn-f" type="submit" name="submit" value="Update"></input>
                </div>
            </form>
            {% for message in messages %}
                <span id="info">{{message}}</span>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

