{% extends 'piyaray_main.html' %} 

{% block title %}
 Humaray Piyaray - Registration
List {% endblock %} 

{% block content %}

<div class="main-area ">
    <div class="box">

        <div class="loginBox">
            <h1 class="center" >Edit Profile</h1>
            <br> 
  
                <form  method="POST" action="">
                    <div class="tabularList4">
                        {% csrf_token %}
                        {{form.username.label}}
                        {{form.username}}
                        {{form.email.label}}
                        {{form.email}}
                        <p></p>
                        <input id="reset" class="btn-f" type="reset"  value="Reset"></input>
                        <input id="submit" class="btn-f" type="submit"  value="Update"></input>
                        <!-- <p id="form-errors">{{form.errors}}</p> -->
                    </div>
                </form>
                <a title= "Change-Password" href="/piyaray/password/"> Change Password</a>
        </div>
    </div>
</div>

{% endblock %}
