{% extends 'piyaray_main.html' %} 

{% block title %}
 HP - New Password
 {% endblock %} 

{% block content %}
<div class="main-area">
  <div class="box">
      <div class="loginBox">
        <h1>Reset password?</h1>
        <br>
          <p>Enter your new password twice.</p>

          <form method="POST">
            {% csrf_token %}
            <div class="tabularList4">
              {% for field in form %}
                <div class="form-group">
                    {{field.label}}
                    {{field}}
                </div>
                <br>
                <p></p>
                <p></p>
                {% if field.errors %}
                    <div class="alert a;ert-danger">
                        {{field.errors}}
                    </div>
                {% endif %}
              {% endfor %}
              <!-- <button id="submit" class="btn-f1" type="submit">Reset</button> -->
              <input type="submit" value="Reset my password!">
            </div>
          </form>
        {% endblock %}
      </div>
    </div>
</div>